.aside-class {
    background-color: #dfccc5;
    text-align: center;
    padding: 10px;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pfp-image {
    border-radius: 10px;
    height: auto;
    width: auto;
}
.background-class {
    background-color: #f5f0ed;
}
.main-heading {
    font-size: 50px;
}
body {
    margin: 0;
    padding: 0;
}
.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 